@import "variables.scss";

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

// label {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   margin: 10px 0;
//   font-size: $primary-text-size;
// }
// ::-webkit-input-placeholder {
//   color: $placeholder-text;
//   font-size: $primary-text-size;
// }
// ::-moz-placeholder {
//   color: $placeholder-text;
//   font-size: $primary-text-size;
// }
// :-ms-input-placeholder {
//   color: $placeholder-text;
//   font-size: $primary-text-size;
// }
// ::placeholder {
//   color: $placeholder-text;
//   font-size: $primary-text-size;
// }

input,
textarea {
  width: 100%;
  margin: 5px 0;
  // display: block;
  border: 1px solid $primary-border;
  border-radius: 3px;
  padding: 10px;
  font-size: $primary-text-size;
  letter-spacing: 0.5px;
  background-color: $secondary-background;
}
