* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #F5F5F5;
    width: 95%;
    margin: 0 auto;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  font-weight: 700;
}

.App {
  background-color: #F5F5F5;
}


.App-header {
  background-color: #F5F5F5;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-h1 {
  color: black;
  font-size: 2.5rem;
  border-bottom: 1px solid gray;
  width:103%;
  margin-left:-10px;
  display:flex;
  justify-content: center;
}

.SubmitIssue {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 2.5%;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  font-size: 1.4rem;
}
::-webkit-input-placeholder {
  color: #D3D3D3;
  font-size: 13px;
}
::-moz-placeholder {
  color: #D3D3D3;
  font-size: 13px;
}
:-ms-input-placeholder {
  color: #D3D3D3;
  font-size: 13px;
}
::placeholder {
  color: #D3D3D3;
  font-size: 13px;
}

input,
textarea {
  width: 100%;
  margin: 5px 0 0;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.borderDiv {
  border: 1px solid gray;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 4%;
  display: flex;
  flex-direction: column;

}

.localIssuesList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  border: 1px solid gray;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 3%;
}

.otherButton {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.profileH2 {
  text-align: center;
  font-size: 2.5rem;
}

.styling {
  border: 1px solid gray;
  margin: 2%;
  padding-bottom: 3%;
}

.myIssueH2 {
  text-align: center;
  font-size: 2.5rem;
}

.loginH3 {
  font-size: 1.7rem;
}
