// Colors

$primary-highlight: #8a2be2;
$primary-background: #f5f5f5;
$secondary-background: #ffffff;

$primary-text: #000000;
$placeholder-text: #696969;

$primary-border: #a9a9a9;

// Font Sizes
$primary-heading-size: 2.5rem;
$secondary-heading-size: 1.875rem;

$button-size: 1.2rem;

$primary-text-size:1.2rem; 
